<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kwin.management.dao.OrderMasterMapper">
  <resultMap id="BaseResultMap" type="org.kwin.management.entity.OrderMaster">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
    <result column="installer_id" jdbcType="INTEGER" property="installerId" />
    <result column="install_time" jdbcType="TIMESTAMP" property="installTime" />
    <result column="order_deposit" jdbcType="INTEGER" property="orderDeposit" />
    <result column="order_amount" jdbcType="INTEGER" property="orderAmount" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, buyer_address, buyer_name, buyer_phone, installer_id, install_time, order_deposit,
    order_amount, order_status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_master
    where order_id = #{orderId,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from order_master
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from order_master
    where order_id = #{orderId,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.kwin.management.entity.OrderMaster">
    insert into order_master (order_id, user_id, buyer_address, buyer_name,
      buyer_phone, installer_id, install_time, 
      order_deposit, order_amount, order_status, 
      create_time, update_time)
    values (#{orderMaster.orderId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{orderMaster.buyerAddress,jdbcType=VARCHAR},
    #{orderMaster.buyerName,jdbcType=VARCHAR},
      #{orderMaster.buyerPhone,jdbcType=VARCHAR}, #{orderMaster.installerId,jdbcType=INTEGER}, #{orderMaster.installTime,jdbcType=TIMESTAMP},
      #{orderMaster.orderDeposit,jdbcType=INTEGER}, #{orderMaster.orderAmount,jdbcType=INTEGER}, #{orderMaster.orderStatus,jdbcType=INTEGER},
      #{orderMaster.createTime,jdbcType=TIMESTAMP}, #{orderMaster.updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.kwin.management.entity.OrderMaster">
    insert into order_master
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderMaster.orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderMaster.buyerAddress != null">
        buyer_address,
      </if>
      <if test="orderMaster.buyerName != null">
        buyer_name,
      </if>
      <if test="orderMaster.buyerPhone != null">
        buyer_phone,
      </if>
      <if test="orderMaster.installerId != null">
        installer_id,
      </if>
      <if test="orderMaster.installTime != null">
        install_time,
      </if>
      <if test="orderMaster.orderDeposit != null">
        order_deposit,
      </if>
      <if test="orderMaster.orderAmount != null">
        order_amount,
      </if>
      <if test="orderMaster.orderStatus != null">
        order_status,
      </if>
      <if test="orderMaster.createTime != null">
        create_time,
      </if>
      <if test="orderMaster.updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderMaster.orderId != null">
        #{orderMaster.orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.buyerAddress != null">
        #{orderMaster.buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderMaster.buyerName != null">
        #{orderMaster.buyerName,jdbcType=VARCHAR},
      </if>
      <if test="orderMaster.buyerPhone != null">
        #{orderMaster.buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderMaster.installerId != null">
        #{orderMaster.installerId,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.installTime != null">
        #{orderMaster.installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMaster.orderDeposit != null">
        #{orderMaster.orderDeposit,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.orderAmount != null">
        #{orderMaster.orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.orderStatus != null">
        #{orderMaster.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.createTime != null">
        #{orderMaster.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMaster.updateTime != null">
        #{orderMaster.updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kwin.management.entity.OrderMaster">
    update order_master
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.buyerAddress != null">
        buyer_address = #{orderMaster.buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderMaster.buyerName != null">
        buyer_name = #{orderMaster.buyerName,jdbcType=VARCHAR},
      </if>
      <if test="orderMaster.buyerPhone != null">
        buyer_phone = #{orderMaster.buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderMaster.installerId != null">
        installer_id = #{orderMaster.installerId,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.installTime != null">
        install_time = #{orderMaster.installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMaster.orderDeposit != null">
        order_deposit = #{orderMaster.orderDeposit,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.orderAmount != null">
        order_amount = #{orderMaster.orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.orderStatus != null">
        order_status = #{orderMaster.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderMaster.createTime != null">
        create_time = #{orderMaster.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMaster.updateTime != null">
        update_time = #{orderMaster.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderMaster.orderId,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kwin.management.entity.OrderMaster">
    update order_master
    set user_id = #{userId,jdbcType=INTEGER},
      buyer_address = #{orderMaster.buyerAddress,jdbcType=VARCHAR},
      buyer_name = #{orderMaster.buyerName,jdbcType=VARCHAR},
      buyer_phone = #{orderMaster.buyerPhone,jdbcType=VARCHAR},
      installer_id = #{orderMaster.installerId,jdbcType=INTEGER},
      install_time = #{orderMaster.installTime,jdbcType=TIMESTAMP},
      order_deposit = #{orderMaster.orderDeposit,jdbcType=INTEGER},
      order_amount = #{orderMaster.orderAmount,jdbcType=INTEGER},
      order_status = #{orderMaster.orderStatus,jdbcType=INTEGER},
      create_time = #{orderMaster.createTime,jdbcType=TIMESTAMP},
      update_time = #{orderMaster.updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>