<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kwin.management.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="org.kwin.management.entity.Product">
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_type" jdbcType="VARCHAR" property="productType"/>
        <result column="product_size" jdbcType="VARCHAR" property="productSize"/>
        <result column="product_direction" jdbcType="INTEGER" property="productDirection"/>
        <result column="product_price" jdbcType="INTEGER" property="productPrice"/>
        <result column="product_stock" jdbcType="INTEGER" property="productStock"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    product_id, product_type, product_size, product_direction, product_price, product_stock,
    create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product
        where product_id = #{productId,jdbcType=VARCHAR}
        and user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectByTypeAndSizeAndDirection" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product
        where user_id = #{userId,jdbcType=INTEGER}
        and product_type = #{productType,jdbcType=VARCHAR}
        and product_size = #{productSize,jdbcType=VARCHAR}
        and product_direction = #{productDirection,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from product
    where product_id = #{productId,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.kwin.management.entity.Product">
    insert into product (product_id, product_type, product_size,
      product_direction, product_price, product_stock, 
      create_time, update_time, user_id)
    values (#{product.productId,jdbcType=VARCHAR}, #{product.productType,jdbcType=VARCHAR},
      #{product.productSize,jdbcType=VARCHAR}, #{product.productDirection,jdbcType=INTEGER}, #{product.productPrice,jdbcType=INTEGER},
      #{product.productStock,jdbcType=INTEGER}, #{product.createTime,jdbcType=TIMESTAMP}, #{product.updateTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="org.kwin.management.entity.Product">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product.productId != null">
                product_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="product.productType != null">
                product_type,
            </if>
            <if test="product.productSize != null">
                product_size,
            </if>
            <if test="product.productDirection != null">
                product_direction,
            </if>
            <if test="product.productPrice != null">
                product_price,
            </if>
            <if test="product.productStock != null">
                product_stock,
            </if>
            <if test="product.createTime != null">
                create_time,
            </if>
            <if test="product.updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="product.productId != null">
                #{product.productId,jdbcType=VARCHAR},
            </if>
            <if test="product.userId != null">
                #{product.userId,jdbcType=INTEGER},
            </if>
            <if test="product.productType != null">
                #{product.productType,jdbcType=VARCHAR},
            </if>
            <if test="product.productSize != null">
                #{product.productSize,jdbcType=VARCHAR},
            </if>
            <if test="product.productDirection != null">
                #{product.productDirection,jdbcType=INTEGER},
            </if>
            <if test="product.productPrice != null">
                #{product.productPrice,jdbcType=INTEGER},
            </if>
            <if test="product.productStock != null">
                #{product.productStock,jdbcType=INTEGER},
            </if>
            <if test="product.createTime != null">
                #{product.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="product.updateTime != null">
                #{product.updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.kwin.management.entity.Product">
        update product
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="product.productType != null">
                product_type = #{product.productType,jdbcType=VARCHAR},
            </if>
            <if test="product.productSize != null">
                product_size = #{product.productSize,jdbcType=VARCHAR},
            </if>
            <if test="product.productDirection != null">
                product_direction = #{product.productDirection,jdbcType=INTEGER},
            </if>
            <if test="product.productPrice != null">
                product_price = #{product.productPrice,jdbcType=INTEGER},
            </if>
            <if test="product.productStock != null">
                product_stock = #{product.productStock,jdbcType=INTEGER},
            </if>
            <if test="product.createTime != null">
                create_time = #{product.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="product.updateTime != null">
                update_time = #{product.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where product_id = #{product.productId,jdbcType=VARCHAR}
        and user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.kwin.management.entity.Product">
    update product
    set user_id = #{userId,jdbcType=INTEGER},
      product_type = #{product.productType,jdbcType=VARCHAR},
      product_size = #{product.productSize,jdbcType=VARCHAR},
      product_direction = #{product.productDirection,jdbcType=INTEGER},
      product_price = #{product.productPrice,jdbcType=INTEGER},
      product_stock = #{product.productStock,jdbcType=INTEGER},
      create_time = #{product.createTime,jdbcType=TIMESTAMP},
      update_time = #{product.updateTime,jdbcType=TIMESTAMP}
    where product_id = #{product.productId,jdbcType=VARCHAR}
    and user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>